
#topJsContainer {
    font-family: sans-serif;
    font-size: 1rem;
    color: #444;
    display: flex;
    /*background: #C0C0C0;*/
    background: white;
    /* min-height: 100vh;*/
    width: 100%;
    padding: 10px;
	margin-bottom: 10px;
}

#tableContainer {
    font-family: sans-serif;
    font-size: 1rem;
    color: #444;
    display: flex;
    flex-direction: column;
    /*background: #C0C0C0;*/
    background: white;
    /*min-height: 100vh;*/
    width: 100%;
    padding: 0px;
	margin-bottom: 100px;
}

.stationInfo {
    padding: 2.5%;
    border-right: 2px solid black;
    margin-left: 2.5%;
}

.stationSelect {
    display: flex;
}

.instrumentInfo {
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 2.5%;
}

.addInstrumentButton{
    padding: 5%;
}

.bigButtonContainer{
    margin-left: 10%;

}

.updateDataButton{
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    width: 100%;
    height: 40%;
    margin-bottom: 20%;
    
}

.saveChangesButton{
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    width: 100%;
    height: 40%;
}

.instrumentBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    border: 1px solid black;
    padding: 5%;
    background:linear-gradient(to bottom, #ffffff 5%, #bcbcbe 180%);
    border: 1px solid #2a7886;
    border-radius: 4px;
}

.instrumentInfoList{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0%;
}

.instrumentSelect{
    display: flex;
}

.instrumentDeleteButton{
    text-align: center;
    display:table-cell;

}

.table{
    box-shadow: 12px 12px 20px grey;  

    background: rgb(230, 230, 230);

    border-radius: 0px 12px 12px 0px;
    border: 1px solid grey;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background:linear-gradient(to bottom, #ffffff 5%, #bcbcbe 180%);
    border: 1px solid #2a7886;
    border-radius: 4px;
}


.headElement{
    text-align: center;
}

.lineElement,
.headElement{
    white-space: pre-line;
    text-align: center;
    display: table-cell;
}

.lineCompositionElement{
    display: table-cell;
    align-items: flex-start;
}

.valcoSelect{
    width: min-content;
}

.solenoidCheck{
    margin-left: 5%;
}

.lineSelect,
.tankTypeSelect,
.tankSelect,
.fleche
{
    position: relative;
    width: max-content;
    display: inline-table;
    padding-right: 5%;
    

}

.valcoNumDiv,
.solenoidNumDiv{
    border: 1px solid #2a7886;
    border-radius: 4px;
    display: flex;
    margin-top: 1.5%;
    margin-left: 2.5%;
    flex-direction: column;
    box-shadow: 12px 12px 20px grey;  

    background: rgb(230, 230, 230);

    border-radius: 0px 12px 12px 0px;
    border: 1px solid grey;

    padding: 1%;

}

.numDiv{
    display: flex;
}

.valcoNumSelect,
.solenoidNumSelect{
    width: max-content;
}

.tabfoot{
    align-items: center;
}

.tabAddLineButton{
    width: 100%;
    padding: 2%;
    margin: 5%;
}

.lineDeleteButton{
    padding: 2%;
    width: 100%;
    margin: 5%;

}

.addInstrumentButton,
.tabAddLineButton,
.updateDataButton,
.saveChangesButton,
.instrumentDeleteButton,
.lineDeleteButton{
    box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	text-decoration:none;
    text-shadow:0px 1px 0px #263666;
}

.addInstrumentButton:hover,
.tabAddLineButton:hover,
.updateDataButton:hover,
.saveChangesButton:hover,
.instrumentDeleteButton:hover,
.lineDeleteButton:hover{
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}

.instrumentDeleteButton,
.lineDeleteButton{
    color: white;
    box-shadow:inset 0px -3px 7px 0px #ff2929;
	background:linear-gradient(to bottom, #f92d2d 5%, #c00d0da8 100%);
}

.instrumentDeleteButton:hover,
.lineDeleteButton:hover{ 
    background:linear-gradient(to bottom, #f92d2d 5%, #c00d0da8 100%);
	background-color:#0688fa;
}

.stationImageDiv{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 5%;
}


.stationImage{
    margin-top: 1%;
    width: fit-content;
    height: fit-content;
}


label{
    white-space: pre-line;
}