/* --------------------------------------------------------------------------------------------------- */
/* Here is the style for the Sequences Building windows (Javascript genaration) */

/* Configuration of all the application text */
#root {
    font-family: sans-serif;
    font-size: 1rem;
    color: #444;
    display: flex;
    /*background: #C0C0C0;*/
    background: white;
    min-height: 100vh;
    width: 100%;
    padding: 0px;
	margin-bottom: 300px;
}

/* Left section containing sequences list*/
#sequencesList {
    max-width: 450px;
    margin: 2rem auto;
    padding: 0 1rem;

    /*border : 1px solid grey;*/
    margin-left: 0px;
    margin-top: 40px;
    margin-bottom: 40px;

    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 12px 12px 20px grey;  

    background: rgb(230, 230, 230);

    border-radius: 0px 12px 12px 0px;
    border: 1px solid grey;

}

.textSequenceName{
    font-weight: bold;
    margin-bottom: 8px;
}

/* Right section containing a sequence details*/
#sequenceBulding {
    max-width: 450px;
    margin: 2rem auto;
    margin-top: 60px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.sequenceFooterButtons{
    display: flex;
    flex-direction: column;

    min-height: 0x;
    display: flex;
    align-items: center;
    padding: 1rem;
    /*margin-bottom: 1rem;*/
    background: #f4f4f4;
    border-radius: 8px;
    /*box-shadow: -6px 6px 12px rgb(100, 100, 100);*/

    border : 6px solid rgb(80, 80, 80);
    width: 200px;
    margin: 0px;
}

/*--- Step Block ---*/
.stepBlocContainer{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background: #f4f4f4;
    border-radius: 8px;
    border : 6px solid rgb(90, 90, 90);
    width: 200px;
    margin: 0px;
    min-width: 300px;
}

.stepBlocPosition{
    display: flex;
    align-items: center;
}

.stepBlocPositionText{
    margin-right: 10px;
}

.stepBlocDurationText{
    margin-right: 10px;
}

.stepBlocDuration{
    display: flex;
    align-items: center;
}

.stepBlockButtons{
    margin: 10px;
}
/*---*/

/*--- Sequence Block ---*/
.sequenceBlockContainer{
    min-height: 60px;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    /*background: #f4f4f4;*/

    background:linear-gradient(to bottom, #ffffff 5%, #bcbcbe 180%);

    border-radius: 8px;
    box-shadow: -4px 4px 10px rgb(100, 100, 100);
    border : 1px solid grey;

    display: flex;
}

.sequenceButton{
    margin-left: 40px;
}
/*---*/


.sequenceHeader{
    min-height: 100px;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    background:linear-gradient(to bottom, #ffffff 5%, #bcbcbe 180%);
    border-radius: 8px;
    box-shadow: -4px 4px 10px rgb(90, 90, 90);
    border : 1px solid grey;
    align-items: flex-start;
}

.sequenceHeaderData{
    display: flex;
    flex-direction: column;
}

.sequenceHeaderName{
    display: flex;
    align-items: center;
}

.sequenceHeaderType{
    display: flex;
    align-items: center;
}

.sequenceHeaderCyclesNumber{
    display: flex;
    align-items: center;
}

.sequenceHeaderCycleDuration{
    margin-top: 8px;
}

.sequenceHeaderDuration{
    margin-top: 8px;
}

.sequenceHeaderButtons{
    margin-left: 2rem;
}

.sequencesUlList, .stepsList{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

[type="text"],
.createSequence,
.editSequence,
.saveSequence,
.deleteSequence,
.deleteStepBlock,
.addStep {
    display: inline-block;
    -webkit-appearance: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: 1px solid #2a7886;
    border-radius: 4px;
}

.createSequence,
.editSequence,
.saveSequence,
.deleteSequence,
.deleteStepBlock,
.addStep {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:10px 23px;
	text-decoration:none;
    text-shadow:0px 1px 0px #263666;
    margin: 10px;
}

.deleteSequence,
.deleteStepBlock {
    box-shadow:inset 0px -3px 7px 0px #ff2929;
	background:linear-gradient(to bottom, #f92d2d 5%, #c00d0da8 100%);
}

.createSequence:hover,
.editSequence:hover,
.saveSequence:hover,
.deleteSequence:hover,
.deleteStepBlock:hover,
.addStep:hover{
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}

.deleteSequence:hover,
.deleteStepBlock:hover{
	background:linear-gradient(to bottom, #f92d2d 5%, #c00d0da8 100%);
	background-color:#0688fa;
}

.createSequence:active,
.editSequence:active,
.saveSequence:active,
.deleteSequence:active,
.deleteStepBlock:active,
.addStep:active {
	position:relative;
	top:1px;
}

p{
    margin: 0px;
}

input[type=text] {
    width: 100%;
    margin: 4px 8px;
    padding: 4px;
    box-sizing: border-box;
}

select{
    width: 100%;
    margin: 4px 8px;
    padding: 4px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1rem;
}

hr {
    padding-top: 0px;
    padding-left: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 120px;
    border:         none;
    border-left:    10px solid rgb(90, 90, 90);
    height:         20px;
    width:          1px;  
}