
/* This style page is the VALCO Scheduler style page */
/* It contains all ao the website styles directives */

/*GENERAL*/
/*
@font-face {
    font-family		: 'Viga-Regular';
    src				: url('Assets_Polices/Viga-Regular.otf');
}
@font-face {
    font-family		: 'CaviarDreams';
    src				: url('Assets_Polices/Caviar-Dreams/CaviarDreams.ttf');
}
*/


/* ---GLOBAL SETTINGS---*/

body {
	margin			: 0;
	background : black;
}


/* ---HEADER--- */

#header {
    display: flex;
	justify-content: space-between;
	align-items: center;
	background		: #191970;
	background: linear-gradient(to right, rgb(14, 0, 48), #191970);
	height : 5.5rem;
}

#mainTitle {
	font-family	: Arial, Verdana, sans-serif;
	color		: white;
	font-size	: 2.5rem;
	margin-left	: 25px;
	text-shadow: -4px 4px black;
}


/* ---MENU--- */

.tab {
	overflow: hidden;
	background-color:#D3D3D3;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	border-radius: 6px 6px 0px 0px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #87CEEB;
}

/* Create an active/current tablink class */
.tab button.active {
	/*background-color: #FFFAF0;*/
	background-color: #FFFFFF;
}

/* Style the tab content */
.tabcontent {
	display: none;
	/*padding: 6px 12px;*/
	padding: 0px;
	border: 1px solid #ccc;
	border-top: none;
	background		: #FFFFFF;
}


