#Help_MainParagraph
{
	padding : 1rem;
}

.Datasheet_Miniature
{
	border : 1px solid grey;
}

#DatasheetsToDownload
{
    display: flex;
	flex-direction: column;
}


#GlobalDatasheets
{
    display: flex;
	margin-left : 3rem;
}

#SubDatasheets
{
	display: flex;
	margin-left : 3rem;
}

.DocumentToDownload
{
	padding: 1rem;
	width	:	300px;
}